# Python Bytecode / Cache
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
.venv/
env/
venv/

# Distribution / Packaging
build/
dist/
*.egg-info/

# IDE / Editor
.idea/
.vscode/
*.swp

# Logs
*.log

# Alembic
alembic/versions/*.pyc
alembic/__pycache__/

# Environment / Secrets
.env
*.env

# OS Files
.DS_Store
Thumbs.db
